body{
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root{
  --bg:#111827;
  --bg2: #1F2937;
  --bg3: #374151;
  --bg4: #9333ea;
  --text: #fff;
} 

body.light {
  --bg: #f9fafb;
  --bg2: #ffffff;
  --bg3: #d1d5db;
  --bg4: #7c3aed;
  --text: #1f2937;
}

h2{
 font-size: 35px !important;
 margin-top: 15px;
 margin-bottom: 15px;
}

h2 strong {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.inputBox{
  display: flex;
  align-items: center;
  border: 1px solid var(--bg3);
  border-radius: 5px;
  margin: 10px 0;
  background-color: var(--bg2);
  transition:0.3 ease ;
}

.inputBox:hover{
  border-color: #9333ea;
}
.inputBox input{
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: transparent;
  color: #9333ea;
  font-size: 14px;
}